<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand text-secondary fs-5 fw-medium" href="#">
      <img src="livro-de-contato.png" alt="Logo" height="30" class="d-inline-block align-text-top">
      Minha Agenda
    </a>
  </div>
</nav>


<div class="container">
    <app-adiciona-contato></app-adiciona-contato>
</div>

<div class="container">
  <app-exibe-contatos></app-exibe-contatos>
</div>

<div class="container">
  <app-exibe-favoritos></app-exibe-favoritos>
</div>